.header,
.sidebar,
.footer,
.body div.txt_content span,
.pagepannel,
.table_div table tr td span {
  display: none;
}

body {
  background-color: #ffffff;
  color: #000000;
  padding: 0;
}

.main-wrapper {
  width: 100%;
  background: #ffffff;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  overflow-y: auto;
}

.coverpage_container {
  width: 100%;
  margin-top: 8px;
  color: #000000;
  min-height: 996px;
}

.inner_border {
  min-height: 996px;
}
