{% extends 'master.html' %}
{% load static %}
{% block title %}
  Passport
{% endblock %}
{% block styles %}
  <link href="{% static 'css/passport/passport.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
    <div class="d-flex justify-content-center text-muted align-items-center vh-100">
        <h4>Passport page is under construction..</h4>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/passport/passport.js' %}"></script>
{% endblock %}